.form-control,
.btn {
  font-size: 12px;
}
.search-input {
  min-width: 58%;
  padding-left: 0;
}
.map-marker:hover {
  color: rgb(156, 64, 64);
}
#search-form {
  margin: 0 auto 15px auto;
  padding: 0;
}

#search-btn {
  font-size: 12px;
  min-width: 10%;
  padding-right: 0;
}
#map-marker {
  min-width: 28%;
  padding-right: 0;
  padding-left: 1px;
}
